<html>
  <head>
    <title>A Contest Among Greats with Eggs</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Let's Build Cool Gliders!</h1>
        </div>
      </div>
      <ul class="ruleList">
        <div class="row">
          <li>
            <div class="col-sm-3">The Goal</div>
            <div class="col-sm-9">To build a glider that can convey an egg, unharmed, the farthest</div>
          </li>
        </div>
        <div class="row">
          <li>
            <div class="col-sm-3">The Terms</div>
            <div class="col-sm-9">Gliders will be restricted in mass, building material, and launch mechanism. They must include a cockpit into and from which an intact egg may be placed and retrieved.
            </div>
          </li>
        </div>
        <div class="row">
          <li>
            <div class="col-sm-3">The Showdown</div>
            <div class="col-sm-9">In early October, 2015, on a big open field to be designated, we will launch our gliders.</div>
          </li>
        </div>
        <div class="row">
          <li>
            <div class="col-sm-3">The Glory</div>
            <div class="col-sm-9">The grand prize will be won by the team which scores the most points according to the following formula: (distance along the intended heading) - (distance perpendicular to the intended heading) - (50 * did the egg break).</div>
          </li>
        </div>
      </ul>
    </div>
  </body>
</html>
