<%= erb :'layouts/_header' %>

<form action="/team/new" method="POST"><br>
Name: <input name="name"><br>
Team email: <input name="email"><br>
<input type="submit" value="Create Team">
</form>


<%= erb :'layouts/_footer' %>